@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap");
/*
* 販売店変更と選択差別化する、検索だけの画面用。radioボタンを隠すため。
*/
.entryMapWrapper .entryListWrapper__list__item__radio__circle.selected:after
	{
	content: "";
	display: block;
	position: absolute;
	top: 0.6rem;
	left: 0.6rem;
	width: 1rem;
	height: 1rem;
	background-color: #00708d;
	opacity: 100;
	border-radius: 50%;
	transition: all 0.35s ease 0s;
}

/*
.MapContainerWithMarker__Wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

.MapContainerWithMarker__ReSearchButton {
	position: absolute;
	z-index: 10;
	color: rgb(0, 112, 141);
	font-size: 1.2rem;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 163px;
	height: 32px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 6px 0px;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	margin: 16px auto 0px;
	border-radius: 20px;
}

.MapContainerWithMarker__ReSearchButton:hover {
	color: rgb(255, 255, 255);
	background-color: rgb(0, 112, 141);
}

@media ( min-width : 835px) {
	.MapContainerWithMarker__ReSearchButton {
		width: 200px;
		height: 40px;
		font-family: "Noto Sans JP", sans-serif;
		font-size: 1.4rem;
		letter-spacing: 0.1px;
		margin: 24px auto 0px;
	}
}
*/

.ModalContainerRetailerDetail__CloseButton {
	position: absolute;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	top: 24px;
	right: 24px;
	z-index: 2;
	cursor: pointer;
	background: url(../img/close.svg);
}

.ModalContainerRetailerDetail__Definition {
	display: block;
	margin: 24px 0px 0px;
}

.ModalContainerRetailerDetail__DefinitionGroup {
	display: flex;
	margin: 0px 0px 24px;
}

.ModalContainerRetailerDetail__DefinitionTitle {
	font-weight: bold;
	font-size: 1.4rem;
	flex: 0 0 80px;
}

.ModalContainerRetailerDetail__DefinitionDescription {
	font-size: 1.4rem;
	flex: 1 1 auto;
}

.ModalContainerForRetailerSearchResult__Wrapper[aria-hidden="false"] {
	display: block;
	opacity: 1;
}

.ModalContainerForRetailerSearchResult__Wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: none;
	opacity: 0;
	padding: 30px 12px;
	transition: opacity 200ms ease-in-out 0s;
}

.ModalContainerForRetailerSearchResult__Body {
	max-width: 620px;
	height: auto;
	position: relative;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.35) 1.5px 2.6px 7px 0px;
	background-color: rgb(255, 255, 255);
	overflow-y: auto;
	margin: 0px auto;
	padding: 24px;
}

.ModalContainerForRetailerSearchResult__CloseButton {
	position: absolute;
	text-indent: -9999px;
	width: 20px;
	height: 20px;
	top: 24px;
	right: 24px;
	z-index: 2;
	cursor: pointer;
	background: url(../img/close.svg);
}

.ModalContainerForRetailerSearchResult__Headline {
	font-family: "Noto Sans JP", sans-serif;
	font-weight: bold;
	line-height: 1.5;
	font-size: 2rem;
	margin: 0px 20px 0px 0px;
}

.ModalContainerForRetailerSearchResult__Paragraph {
	font-size: 1.4rem;
	color: rgb(0, 0, 0);
	margin: 16px 0px 24px;
}

.ModalContainerForRetailerSearchResult__AddressesList {
	overflow-y: scroll;
	max-height: 306px;
}

.ModalContainerForRetailerSearchResult__AddressesListItem {
	width: 100%;
	background-color: rgb(234, 234, 234);
	margin: 0px 0px 1px;
}

.ModalContainerForRetailerSearchResult__AddressButton {
	font-size: 1.2rem;
	height: auto;
	width: 100%;
	text-align: left;
	background-image: url(../img/next.svg);
	background-size: 4.7px 8px;
	cursor: pointer;
	padding: 12px 24px 12px 12px;
	background-repeat: no-repeat;
	background-position: right 14px center;
}

@media ( min-width : 835px) {
	.ModalContainerForRetailerSearchResult__AddressButton:hover {
		color: rgb(0, 157, 197);
	}
}

@media ( max-width : 834px) {
	.entry__ResultNote {
		margin: 24px auto 12px;
	}
}

.entry__ResultNote {
	font-size: 1.6rem;
	padding: 0px 12px;
}

.error_input_color{
    background-color: rgb(255, 235, 238) !important;
}

/*　自位置がないポップアップ*/

.Modal__Wrapper[aria-hidden="false"] {
    display: block;
    opacity: 1;
}

.Modal__Wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    opacity: 0;
    padding: 30px 12px;
    transition: opacity 200ms ease-in-out 0s;
}

.Modal__Body {
    max-width: 620px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 1.5px 2.6px 7px 0px;
    position: absolute;
    width: calc(100vw - 24px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    max-height: 100%;
    overflow-y: auto;
    margin: 0px auto;
    padding: 24px;
}

.Modal__CloseButton {
    position: absolute;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    top: 24px;
    right: 24px;
    z-index: 2;
    cursor: pointer;
    background: url(../img/close.svg);
}

.LocationSearchWithMap__AlertModalHeadline {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: bold;
    line-height: 1.5;
    font-size: 2rem;
    margin: 0px 20px 0px 0px;
}

.LocationSearchWithMap__AlertParagraph {
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin: 16px 0px 0px;
}

.LocationSearchWithMap__CloseAlertButton {
    display: inline-flex;
    text-align: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height: 56px;
    font-size: 1.6rem;
    background-color: rgb(0, 112, 141);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: all 0.35s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 112, 141);
    border-image: initial;
    margin: 24px 0px 0px;
}
