.pageHeadline {
  background: #333;
  color: #fff;
}

.CarInfo__CarInfoBlock a {
  color: #cf2724;
}

.CarInfo__CarInfoBlock
  .CarInfo__CarInfoTwoColumn
  .CarInfo__CarInfo
  .CarInfo__FeeArea
  .CarInfo__Fee {
  color: #333;
}

.CarInfo__CarInfoFloatBlock
  .CarInfo__CarInfoFloatBlockInner
  .CarInfo__CarInfoThreeColumn
  .CarInfo__FeeArea
  .CarInfo__OptionArea
  .CarInfo__Option {
  background-color: #cf2724;
}

.CarInfo__CarInfoFloatBlock
  .CarInfo__CarInfoFloatBlockInner
  .CarInfo__CarInfoThreeColumn
  .CarInfo__FeeArea
  .CarInfo__Fee {
  color: #333;
}

.CarInfo__CarInfoBlock
  .CarInfo__CarInfoTwoColumn
  .CarInfo__CarInfo
  .CarInfo__OptionArea
  .CarInfo__Option {
  background-color: #cf2724;
}

.CarInfo__CarInfoBlock .Contract_Period_tabs input:checked + .tab_item {
  background-color: #333;
  color: #ffffff;
}
.CarInfo__CarInfoBlock .tab_item {
  border: 1px solid #333;
  color: #333;
}

.CarInfo__CarInfoStepArea
  .CarInfo__CarInfoStep
  .CarInfo__CarInfoStepNumCover
  .CarInfo__CarInfoStepNum {
  background-color: #fff;
  border: 1px solid #cf2724;
  color: #e60114;
}

.CarInfo__CarInfoStepArea
  .CarInfo__CarInfoStep.active
  .CarInfo__CarInfoStepNumCover
  .CarInfo__CarInfoStepNum {
  background-color: #cf2724;
  color: #fff;
}

.CarInfo__CarInfoBlock select {
  border: 1px solid #333;
  color: #333;
}

.simulationWrapper
  .simulationSection
  .gradeColumn
  .gradeRadioBottom
  .accodionOpenCloseBtn {
  color: #fff;
}

.simulationWrapper
  .simulationSection
  .gradeColumn
  .gradeRadioBottom
  .accodionOpenCloseBtn:before,
.simulationWrapper
  .simulationSection
  .gradeColumn
  .gradeRadioBottom
  .accodionOpenCloseBtn:after {
  background: #cf2724;
}

.simulationWrapper .simulationSection .gradeColumn {
  background-color: #ddd;
  border-top: none !important;
  padding: 12px 4px;
  border-radius: 10px !important;
  overflow: hidden;
}

.simulationWrapper
  .simulationSection
  .gradeColumn
  .gradeRadioBottom
  .accodionOpenCloseBtn {
  color: #e60114;
}
.simulationWrapper
  .simulationSection
  .gradeColumn
  label.RadioButtonInput__Wrapper
  .gradeRadioTop
  .RadioButtonArea
  .Powersource {
  color: #333;
  border: 2px solid #333;
}

.simulationWrapper
  .simulationSection
  .gradeColumn
  label.RadioButtonInput__Wrapper
  .gradeRadioTop
  .RadioButtonArea
  .Powersource.gas {
  color: #333;
}
.simulationWrapper
  .simulationSection
  .gradeColumn
  label.RadioButtonInput__Wrapper
  .gradeRadioTop
  .RadioButtonArea
  .Powersource.hibrid {
  color: #fff;
  background-color: #333;
}

.simulationWrapper
  .simulationSection
  .gradeColumn
  label.RadioButtonInput__Wrapper
  input.RadioButtonInput:checked
  + *
  .RadioButtonArea
  .RadioButtonInputCircle:before {
  border: 1px solid #cf2724;
}

.simulationWrapper
  .simulationSection
  .gradeColumn
  label.RadioButtonInput__Wrapper
  input.RadioButtonInput:checked
  + *
  .RadioButtonArea
  .RadioButtonInputCircle:after {
  background-color: #cf2724;
}

.simulationWrapper .simulationSection .gradeColumn .SapoCar__images {
  border-radius: 4px;
  height: 65px;
  background: #fff;
}

.simulationWrapper .commitBtnArea .commitBtnBox button.PrimaryButton {
  background-color: #cf2724;
  border-color: #cf2724;
}

.simulationWrapper .commitBtnArea .commitBtnBox button.PrimaryButton:hover {
  color: #cf2724;
}

.simulationWrapper .commitBtnArea .commitBtnBox button.PrimaryButton:focus {
  background-color: #cf2724;
  border-color: #cf2724;
  color: #fff;
}

.simulationWrapper .commitBtnArea .commitBtnBox button.SecondaryButton {
  background-color: #e9a3ab;
  border-color: #cf2724;
}

.simulationWrapper .commitBtnArea .commitBtnBox button.SecondaryButton:hover {
  color: #e9a3ab;
}

.simulationWrapper .commitBtnArea .commitBtnBox button.SecondaryButton:focus {
  background-color: #e9a3ab;
  border-color: #cf2724;
  color: #fff;
}

.simulationWrapper
  .simulationSection
  .addOptionColumn
  label.CheckboxInput__Wrapper
  input.CheckboxInput:checked
  + .CheckboxArea
  .CheckboxInputSwitch {
  background-color: #cf2724;
}

.frontWrapper a {
  color: #e60114;
}

.frontWrapper h3 {
  border-left: 7px solid #cf2724;
  padding-left: 10px;
}

.frontWrapper h3 {
  border-left: 7px solid #cf2724;
}

.Ribbon.recommend,
.Ribbon.favorite {
  background-color: #cf2724;
}

.Ribbon.recommend:after,
.Ribbon.favorite:after {
  border-top: 11px solid #cf2724;
  border-left: 5px solid #cf2724;
}

.RadioButtonInput__Wrapper .RibbonArea .Ribbon {
  top: -12px;
}

.formPrevLinks .formPrevLink .buttonArrow__inner {
  color: #cf2724;
}

.totalPriceSection table td {
  color: #333;
}
