<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" class="next-head">
<title class="next-head">お問い合わせ｜【KINTO】愛車サブスクリプション -トヨタの新サービス -</title>
<meta name="keywords" content="toyota,トヨタ自動車,トヨタ,KINTO,キント,サブスクリプション,subscription,サブスク" class="next-head">
<meta property="og:image" content="/customer/assets/img/pic_ogimage_001.jpg" class="next-head">
<meta property="og:type" content="website" class="next-head">
<meta property="og:locale" content="ja_JP" class="next-head">

<link rel="canonical" href="/" class="next-head">
<!--
<link rel="stylesheet" th:href="@{/assets/css/base.css}">
<link rel="stylesheet" th:href="@{/assets/css/layout.css}">
<link rel="stylesheet" th:href="@{/assets/css/module.css}">
<link rel="stylesheet" th:href="@{/assets/css/utility.css}">
<link rel="stylesheet" th:href="@{/assets/css/top.css}">
-->
<link rel="stylesheet" href="/customer/assets/css/main.css">

<link rel="stylesheet" href="/customer/assets/css/validation.css">


<meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<link rel="apple-touch-icon-precomposed" sizes="180x180" href="/customer/assets/img/ic_favicon_001_180.png?1902121600">
<link rel="shortcut icon" href="/customer/assets/img/ic_favicon_001.ico?1902121600">
<link rel="icon" sizes="16x16" href="/customer/assets/img/ic_favicon_001_16.png?1902121600">
<link rel="icon" sizes="32x32" href="/customer/assets/img/ic_favicon_001_32.png?1902121600">

<meta name="description" content="マイページ｜【KINTO】愛車サブスクリプション -トヨタの新サービス -【愛車サブスクリプションサービス「KINTO」公式サイト】好きなクルマ、乗りたいクルマを自由に選び、好きなだけ楽しんでいただくことができます。" class="next-head">

<!-- GoogleAnalytics対応 -->
<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start' : new Date().getTime(),
            event : 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l='
                + l
                : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-ND8HQTX');
</script>
</head>
<body>
  <div id="__next">
    
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ND8HQTX" height="0" width="0" style="display: none; visibility: hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->

  <header class="appHeader">
    <div aria-hidden="true" class="appHeader__inner">
      <div class="appLogo">
        <a href="/" class="appLogo__link"> <img src="/customer/assets/img/logo_kinto_blue.svg" alt="KINTO" class="appLogo__img">
        </a>
      </div>
      <nav class="appHeader__nav">
        <div class="appHeader__nav__inner">
          <ul class="appHeader__nav__list">
            <li><a>KINTOのプラン</a>
              <div class="appHeader__nav__list__sub">
                <ul class="appHeader__nav__list__subNav">
                  <li class="appHeader__nav__list__subNav__item"><a href="/kinto_one/">KINTO ONE</a></li>
                  <li class="appHeader__nav__list__subNav__item"><a href="/kinto_select/">KINTO SELECT</a></li>
                </ul>
              </div></li>
            <li><a href="/kinto_one/lineup">クルマをみる</a></li>
            <li><a href="/kinto_one/contract">ご利用手順</a></li>
            <li><a href="https://faq.kinto-jp.com/?site_domain=default">よくあるご質問</a></li>
            <li><a href="/customer/contact">お問い合わせ</a> </li>
          </ul>
          <div class="appHeader__nav__menu">
            <a href="/customer/login" class="appHeader__nav__login"><span>ログイン／メンバー登録</span></a> 
            <button class="appHeader__nav__sp">
              <span aria-hidden="true"></span> <span aria-hidden="true"></span> <span aria-hidden="true"></span>
              <p class="appHeader__nav__sp__menu"></p>
              <p class="appHeader__nav__sp__close close"></p>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div aria-hidden="true" class="appSpMenu">
    <ul class="appSpMenu__navi">
      <li class="appSpMenu__navi__subNav"><a href="" class="appSpMenu__navi__subIcon">KINTOのプラン</a>
        <ul class="appSpMenu__navi__sub">
          <li class="appSpMenu__navi__sub__item"><a href="/kinto_one/">KINTO ONE</a></li>
          <li class="appSpMenu__navi__sub__item"><a href="/kinto_select/">KINTO SELECT</a></li>
        </ul></li>
      <li><a href="/kinto_one/lineup">クルマをみる</a></li>
      <li><a href="/kinto_one/contract">ご利用手順</a></li>
      <li><a href="//faq.kinto-jp.com/?site_domain=default">よくあるご質問</a></li>
      <li><a href="/customer/contact">お問い合わせ</a> </li>
      <li><a href="/customer/login" class="loginIcon">ログイン／メンバー登録</a> </li>
    </ul>
  </div>

    <div class="pageHeadline">
      <h1 class="pageHeadline__info">お問い合わせ</h1>
    </div>
    <div class="frontWrapper">
      <div class="mainWrapper">
        <div class="mainWrapper__inner">
          <p class="formExplain">以下のフォームよりお問い合わせ内容をご入力下さい。</p>
          <form action="/customer/contact/confirm" method="post"><input type="hidden" name="_csrf" value="c33c92cf-2492-41e3-8889-f8ea4cd6098e"/>
            <div class="formContent leftPaddingNone">
              <div class="formContent__row form_input_field">
                <div class="formContent__row__w">
                  <div>
                    <label> <span class="required">必須</span> お問い合わせ種別<img src="/customer/assets/img/complete.svg" class="checkIcon">
                    </label> <select name="category" label="お問い合わせ種別" class="formContent__select" data-required="true">
                      <option value="">選択してください</option>
                      <option>KINTO ONEサービスについて</option>
                      <option>KINTO SELECTサービスについて</option>
                      <option>車選びに関する質問</option>
                      <option>お見積り・お申込みについて</option>
                      <option>ご契約内容について</option>
                      <option>クルマについて</option>
                      <option>税金・保険について</option>
                      <option>お支払いについて</option>
                      <option>メンテナンスについて</option>
                      <option>契約期間中について</option>
                      <option>解約に関する質問</option>
                      <option>ID・パスワードに関する質問</option>
                    </select>
                  </div>
                </div>
                <div class="formContent__row__error">
                  <span class="message"></span>
                </div>
              </div>

              <div class="formContent__row">
                <div class="formContent__row__sm form_input_field">
                  <div>
                    <label class="formContent__label"> <span class="required">必須</span> 姓<img src="/customer/assets/img/complete.svg" class="checkIcon">
                    </label>
                  </div>
                  <input type="text" autocapitalize="none" label="姓" placeholder="例）筋斗" class="formContent__input" value="" data-required="true"
                    data-char-type="full-kanji-hira-kata" data-maxlength="9" id="lastName" name="lastName">
                  <div class="formContent__row__error fixed">
                    <span class="message"></span>
                  </div>
                </div>
                <div class="formContent__row__sm form_input_field">
                  <div>
                    <label class="formContent__label"> <span class="required">必須</span> 名<img src="/customer/assets/img/complete.svg" class="checkIcon">
                    </label> <input type="text" autocapitalize="none" label="名" placeholder="例）太郎" class="formContent__input" value="" data-required="true"
                      data-char-type="full-kanji-hira-kata" data-maxlength="9" id="firstName" name="firstName">
                  </div>
                  <div class="formContent__row__error fixed">
                    <span class="message"></span>
                  </div>
                </div>
              </div>

              <div class="formContent__row form_input_field">
                <div class="formContent__row__w">
                  <div>
                    <label class="formContent__label"> <span class="optional">任意</span> 電話番号<img src="/customer/assets/img/complete.svg" class="checkIcon">
                    </label>
                  </div>
                </div>
                <div class="formContent__row__xs">
                  <div class="tel">
                    <input type="tel" autocapitalize="none" id="dayPhone1" name="dayPhone" label="電話番号" placeholder="例）03" class="formContent__input" value="" data-norequired="true" data-tel="true"
                      data-char-type="tel1">
                  </div>
                </div>
                <div class="formContent__row__xs">
                  <div class="tel">
                    <input type="tel" autocapitalize="none" id="dayPhone2" name="dayPhone" label="電話番号" placeholder="例）1234" class="formContent__input" value="" data-norequired="true" data-tel="true"
                     data-char-type="tel2">
                  </div>
                </div>
                <div class="formContent__row__xs">
                  <div>
                    <input type="tel" autocapitalize="none" id="dayPhone3" name="dayPhone" label="電話番号" placeholder="例）5678" class="formContent__input" value="" data-norequired="true" data-tel="true" data-char-type="tel3">
                  </div>
                </div>
                <div class="formContent__row__error">
                  <span class="message"></span>
                </div>
              </div>
              <div class="formContent__row narrow form_input_field">
                <div class="formContent__row__md">
                  <div class="row3">
                    <label class="formContent__label"> <span class="required">必須</span> メールアドレス<img src="/customer/assets/img/complete.svg" class="checkIcon">
                    </label>
                    <div>
                      <input type="email" autocapitalize="none" name="email" value="" label="メールアドレス（ログインID）" placeholder="例）taro@kinto-jp.com" class="formContent__input" 
                      data-required="true" data-email="true" data-maxlength="256" onkeyup="keyupConfirmMail()">
                    </div>
                  </div>
                </div>
                <div class="formContent__row__error">
                  <span class="message"></span>
                </div>
              </div>
              <div class="formContent__row form_input_field">
                <div class="formContent__row__md">
                  <div>
                    <label class="formContent__label"> <span class="required">必須</span> <span class="subLabel">メールアドレス（確認用）</span><img src="/customer/assets/img/complete.svg" class="checkIcon"></label>
                    <input type="email" autocapitalize="none" id="confirmEmail" name="confirmEmail" value="" label="メールアドレス（確認用）" placeholder="例）taro@kinto-jp.com"
                      class="formContent__input" data-required="true" data-email-confirm="true" data-maxlength="256">
                  </div>
                </div>
                <div class="formContent__row__error">
                  <span class="message"></span>
                </div>
              </div>
              <div class="formContent__row form_input_field">
                <div class="formContent__row__w">
                  <div class="row3">
                    <label class="formContent__label"> <span class="required">必須</span> お問い合わせ内容<img src="/customer/assets/img/complete.svg" class="checkIcon">
                    </label>
                    <div>
                      <textarea name="message" label="お問い合わせの内容" placeholder="お問い合わせの内容をご入力ください。" class="formContent__textarea" data-required="true" data-maxlength="500"></textarea>
                    </div>
                  </div>
                </div>
                <div class="formContent__row__error">
                  <span class="message"></span>
                </div>
              </div>
            </div>

            <div class="formPrevLinks">
              <div class="formPrevLink pc">
                <div class="buttonArrow">
                  <div class="buttonArrow__inner">
                    <a href="#" onclick="history.back(); event.preventDefault();" style="text-decoration: none"><img direction="prev" src="/customer/assets/img/prev.svg" class="extendIcon"
                      onclick="history.back(); event.preventDefault();">前に戻る</a>
                  </div>
                </div>
              </div>
              <div class="formButton">
                <button type="submit" class="primaryButton">入力内容を確認する</button>
              </div>
              <div class="formPrevLink sp">
                <div class="buttonArrow">
                  <div class="buttonArrow__inner">
                    <a href="#" onclick="history.back(); event.preventDefault();" style="text-decoration: none"><img direction="prev" src="/customer/assets/img/prev.svg" class="extendIcon"
                      onclick="history.back(); event.preventDefault();">前に戻る</a>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="breadCrumbs">
      <ul>
        <li><a href="https://stg.kinto-jp.com/">ホーム</a></li>
        <li>お問い合わせ</li>
      </ul>
    </div>
    
  <p class="footerPageTop">
    <a class="footerPageTop__button">PAGE TOP</a>
  </p>
  <footer class="footerWrapper">
    <nav class="footerWrapper__navi">
      <div class="footerWrapper__navi__inner">
        <div class="footerWrapper__navi__list">
          <div class="footerWrapper__navi__list__item">
            <div class="footerWrapper__navi__list__item__label spNone">
              <a class="footerWrapper__navi__list__item__link">KINTOのプラン</a>
            </div>
            <ul class="footerWrapper__navi__list__sub">
              <li><a href="/kinto_one/" class="footerWrapper__navi__list__item__link">KINTO ONE</a></li>
              <li><a href="/kinto_select/" class="footerWrapper__navi__list__item__link">KINTO SELECT</a></li>
            </ul>
          </div>
          <div class="footerWrapper__navi__list__item">
            <ul class="footerWrapper__navi__list__sub">
              <li><a href="/kinto_one/lineup" class="footerWrapper__navi__list__item__link">クルマをみる</a></li>
              <li><a href="/kinto_one/contract" class="footerWrapper__navi__list__item__link">ご利用手順</a></li>
              <li><a href="/customer/dealers" class="footerWrapper__navi__list__item__link">販売店検索</a></li>
            </ul>
          </div>
          <div class="footerWrapper__navi__list__item">
            <ul class="footerWrapper__navi__list__sub">
              <li><a href="/news/" class="footerWrapper__navi__list__item__link">インフォメーション</a></li>
              <li><a href="https://faq.kinto-jp.com/?site_domain=default" class="footerWrapper__navi__list__item__link">よくあるご質問</a></li>
              <li><a href="/customer/contact" class="footerWrapper__navi__list__item__link">お問い合わせ</a> </li>
              <li><a href="/insurance/" class="footerWrapper__navi__list__item__link">自動車保険について</a></li>
              <li><a href="/cancel/" class="footerWrapper__navi__list__item__link">契約終了時等のお手続について</a></li>
            </ul>
          </div>
        </div>
                        <div class="footerNaviLlogin">
                   <div class="footerWrapper__navi__list__item__label" style="display: flex;">
                   <div class="footerWrapper_nav_sns_icon"> 
                        <a href="https://twitter.com/KINTO_JP" target="_blank">
                            <img src="/customer/assets/img/twitter_icon.png" alt="twitter" class="snsicon">
                        </a>
                    </div>
                    <div class="footerWrapper_nav_sns_icon">
                        <a href="https://www.instagram.com/kinto_jp/" target="_blank">
                            <img src="/customer/assets/img/instagram_icon.png" alt="instagram" class="snsicon">
                        </a>
                    </div>
                    <div class="footerWrapper_nav_sns_icon">
                        <a href="https://www.facebook.com/KINTOJP/" target="_blank">
                            <img src="/customer/assets/img/facebook_icon.png" alt="facebook" class="snsicon">
                        </a>
                    </div>                    
                    <div class="footerWrapper_nav_sns_icon">
                        <a href="https://www.youtube.com/channel/UC3ap_PduzYM6MINNeFLRonA" target="_blank">
                            <img src="/customer/assets/img/youtube_icon.png" alt="youtube" class="snsicon">
                        </a>
                    </div>
                    <div class="footerWrapper_nav_sns_icon">
                        <a href="http://nav.cx/7FpwpgV" target="_blank">
                            <img src="/customer/assets/img/line_icon.png" alt="line" class="snsicon">
                        </a>
                    </div>
                    
                </div>
            </div>
        
      </div>
    </nav>
    <ul class="footerCompanyNavi">
      <li class="footerCompanyNavi__list"><a href="/commercial_transaction/" class="footerCompanyNavi__list__link">特定商取引法に基づく表記</a></li>
      <li class="footerCompanyNavi__list"><a href="/terms/" class="footerCompanyNavi__list__link">利用規約</a></li>
      <li class="footerCompanyNavi__list"><a href="/terms/point" class="footerCompanyNavi__list__link">愛車ポイント規約</a></li>
      <li class="footerCompanyNavi__list"><a href="/privacy/" class="footerCompanyNavi__list__link">プライバシーポリシー</a></li>
      <li class="footerCompanyNavi__list"><a href="/sitepolicy/" class="footerCompanyNavi__list__link">サイト利用条件</a></li>
      <li class="footerCompanyNavi__list"><a href="/company/" class="footerCompanyNavi__list__link">会社概要</a></li>
      <li class="footerCompanyNavi__list"><a href="/sitemap/" class="footerCompanyNavi__list__link">サイトマップ</a></li>
      <li class="footerCompanyNavi__list"><a href="/english/" class="footerCompanyNavi__list__link">ENGLISH INFORMATION</a></li>
    </ul>
    <p class="footerCopyright">&copy;2019 KINTO Corporation. All rights reserved.</p>
  </footer>

  </div>

  
  <script type="text/javascript" src="/customer/assets/js/bundle.js"></script>
  <script type="text/javascript" src="/customer/assets/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="/customer/assets/js/button-utils.js"></script>
  <script type="text/javascript" src="/customer/assets/js/message.js"></script><script type="text/javascript" src="/customer/assets/js/validation.js"></script><script>
          function keyupConfirmMail() {
            $('#confirmEmail').keyup();
          }
    </script>

</body>
</html>